:root {
    --main-bg-color: #fff;
    --btn-bg-color: #f0f0f0;
    --btn-font-color: #000
}

body {
    background-color: var(--main-bg-color);
}

button {
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
}

.calculator__heading {
    color: var(--btn-font-color);
}